[submodule "coqueligot-auction-simple"]
	path = coqueligot-auction-simple
	url = https://gitlab.com/ligolang/coqueligot-auction.git
[submodule "kbd.css"]
	path = kbd.css
	url = https://github.com/JSlote/kbd.css
